.txt {
    text-align: center;
}


.btn {
    height: 25px;
    width: 25px;
    margin: 5px;
}

.input {
    padding: 0.1 rem 0.4rem;
    cursor: pointer;
    background-color: aliceblue;
    height: 20px;
    margin: 10px;
    outline: none;
    border-radius: 5px;
    width: 15rem;
}

.btn {
    height: 20px;
    background-color: #077887;
    border-radius: 5px;
    color: white;
    font-weight: 900;
}

.rbtn {
    background-color: #4CAF50;
    padding: 5px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 900;
}

.container {
    width: 25rem;
    height: 15rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: rgba(128, 128, 128, 0.126);
}